nav {
    position: absolute;
}
.header, header {
    height: 100vh;
    background-color: #282c34;
    color: white;
}
header img {
    width: 80%;
}

h1 {
    font-size: 74px;
    font-weight: 700;
}
header p, .btn {
    font-size: 24px;
}
.btn {
    font-weight: 700;
}

section {
    height: 70vh;
}
h2 {
    font-weight: 700;
    margin-bottom: 15px;
}
section p {
    color: #a4a4a4;
    font-size: 20px;
}
.feat {
    padding: 0 60px 0 60px;
}

